@import "tailwindcss";


body {
    background:#1c1d22;
    font-family: "Varela Round", sans-serif;
    font-weight: 100;
    font-style:normal;
}

.toggle{
  display: none;
}
@media  screen and (max-width: 600px) {
  .toggle{
    display: block;
  }
  .nav-linkk{
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.1em;
    animation: typing 3s steps(35, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out forwards;
}


  